BasedOnStyle: Chromium
#AlignAfterOpenBracket: DontAlign  # 参数不强制对齐第一个参数
#AllowShortFunctionsOnASingleLine: None # 禁止单行函数
SortIncludes: Never
#PenaltyBreakFirstLess: 0            # 尽量避免首个参数换行（首行保留更多参数）