*.pdb
*.idb
build/
_insights/
install/
.vs/
# JetBrains IDE (.idea)
.idea/**
!.idea/
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/Project_Default.xml
!.idea/editor.xml
!.idea/codeStyles/
!.idea/codeStyles/**
!.idea/.gitignore
*.user
_depre/
artifacts/































