settings set target.process.thread.step-in-avoid-nodebug true
settings set target.process.thread.step-out-avoid-nodebug true
settings set target.process.thread.step-avoid-regexp "^std::.*"
settings set target.process.thread.step-avoid-libraries libstdc++.so